<div class="col-xs-12 col-md-6 cart_item">
  <div class="well">
    <h4><%= product.name %> - <%= product.price %> руб.</h4>
    <%= image_tag product.img.url %>
    <%= simple_form_for order_item, remote: true do |f| %>
    <%= f.input :quantity, label: false, value: order_item.quantity.to_i %>
    <%= f.hidden_field :product_id, value: product.id %>
    <div class="form-group order_item_button_save">
      <%= f.button :submit, html_checked_symbol, class: "btn btn-primary", data: { disable_with: html_checked_symbol } %>
    </div>
    <div class="form-group order_item_button_delete">
      <%= link_to "-", order_item, { data: { confirm: "Вы точно хотите удалить '#{order_item.product.name}' из заказа?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
    </div>
    <% end %>
  </div>
</div>