<div class="cart_container">
	<h3>Ваш заказ</h3>
	<div class="delivery_link"><a href="/delivery">ПРОДОЛЖИТЬ ПОКУПКИ</a></div>
	<% if @order.order_items.count == 0 %>
		<div>Вы ничего не выбрали.</div>
	<% else %>
		<div class="shopping-cart">
  			<%= render "shopping_cart" %>
		</div>
		<div class="okliente">Информация о клиенте</div>
		<%= simple_form_for(@order) do |f| %>
		<div class="row">
			<div class="col-md-6">
				<%= f.input :person_name %>
			</div>
			<div class="col-md-6">
				<%= f.input :phone %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<%= f.input :email %>
			</div>
			<div class="col-md-6">
				<%= f.input :comment, input_html: { rows: 1 } %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= f.input :is_card_pay %>
				<div class="form-group">
					<%= f.submit "Оформить заказ", class: "btn btn-primary"%>
				</div>
			</div>
		</div>
		<% end %>
	<% end %>
</div>
