<% provide(:breadcrumb, "Админка / Интеграция с Poster") %>
<h2>Админка интеграции с Poster</h2>
<div class="poster_admin_index">
  <div class = "header-button">
    <a class="btn btn-default" href="/admin">В админку</a>
  </div>
  <br/>
  <h4>Обновить товары из Poster</h4>
  <div><b>Дата обновления товаров</b>: <br/> <%= @last_products_update_date %></div>
  <br/>
  <%= form_tag(update_poster_products_path, method: 'post') do %>
    <p><%= submit_tag('Обновить товары', class: 'btn btn-primary') %></p>
  <% end %>
  <br/>
  <h4>Обновить бонусы для всех клиентов</h4>
  <div><b>Дата обновления бонусов (по последней записи)</b>: <br/> <%= @last_bonus_update_date %></div>
  <br/>
  <%= form_tag(update_clients_bonus_path, method: 'post') do %>
    <p><%= submit_tag('Обновить бонусы', class: 'btn btn-primary') %></p>
  <% end %>
  <br/>
  <h4>Информация об очереди</h4>
  <% if @resque_not_working %>
    <div class="resque_not_working">
      Процесс для обработки заданий на сервере не запущен. Обратитесь к администратору info@busation.com
    </div>
  <% end %>
  <div>
    <%= @rinfo %>
  </div>
</div>