<% provide(:breadcrumb, "Админка / Список товаров") %>
<div class="container">
  <h2>Список товаров</h2>
  <div>
    <div class = "header-button">
      <a class="btn btn-default" href="/admin">В админку</a>
      <%= link_to "Создать", new_product_path, class: "btn btn-primary" %>
    </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th><%= Product.human_attribute_name(:name) %></th>
            <th><%= Product.human_attribute_name(:price) %></th>
            <th><%= Product.human_attribute_name(:is_delivery) %></th>
            <th><%= Product.human_attribute_name(:updated_at) %></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |prod| %>
            <tr>
              <td>
                <div class="btn-cont"><%= link_to "Изменить", edit_product_path(prod), class: "btn-sm btn-primary" %></div>
                <div class="btn-cont"><%= link_to "Просмотр", product_path(prod), class: "btn-sm btn-primary" %></div>
              <td><%= prod.name %></td>
              <td><%= prod.price %></td>
              <td><%= prod.is_delivery %></td>
              <td><%= prod.updated_at.strftime('%d.%m.%Y %T') %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>