<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <header class="page-head section-sm-50 section-lg-top-90 section-lg-bottom-80 bg-images-1">
      <!-- RD Navbar-->
      <%= render 'layouts/navigation' %>
    </header>
    <div class="container">
      <div class='nav-breadcrumbs'><span><%= yield(:breadcrumb)%></span></div>
    </div>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
